<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page0</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-10-07T19:05:36Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>2A90C5B6-7642-42FD-8579-DF0B67341EDD</string>
			<key>PageDigests</key>
			<dict>
				<key>sitemap.html</key>
				<dict>
					<key>Digest</key>
					<data>
					PCoXq2s67D8yFQ07xL1nKg==
					</data>
					<key>Size</key>
					<integer>5517</integer>
				</dict>
				<key>sitemap.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					kbdfh8Z/gBGTyTIb1Zd1wg==
					</data>
					<key>Size</key>
					<integer>571</integer>
				</dict>
				<key>sitemap_blueoxtavern.rwsw.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					kbdfh8Z/gBGTyTIb1Zd1wg==
					</data>
					<key>Size</key>
					<integer>571</integer>
				</dict>
				<key>sitemap_files/sitemap.xml</key>
				<dict>
					<key>Digest</key>
					<data>
					kbdfh8Z/gBGTyTIb1Zd1wg==
					</data>
					<key>Size</key>
					<integer>571</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page0</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page1</key>
		<dict>
			<key>CreationDate</key>
			<date>2011-10-07T19:05:35Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>2A90C5B6-7642-42FD-8579-DF0B67341EDD</string>
			<key>PageDigests</key>
			<dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					u3F/yz4X/ElLUSNif2n/LQ==
					</data>
					<key>Size</key>
					<integer>15494</integer>
				</dict>
				<key>index_files/blue-ox-tavern--023.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					x+gB1rCAhQ8wdj4Xt80qaA==
					</data>
					<key>Size</key>
					<integer>51651</integer>
				</dict>
				<key>index_files/blue-ox-tavern--024.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					BpoqK9jOTl8Ro3p7aoe/Yw==
					</data>
					<key>Size</key>
					<integer>50786</integer>
				</dict>
				<key>index_files/blue-ox-tavern--025.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					h80c22jEbdCYCKB/OFETYw==
					</data>
					<key>Size</key>
					<integer>52237</integer>
				</dict>
				<key>index_files/blue-ox-tavern--028.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					OZ2crmk4ISly7gMBw46y4A==
					</data>
					<key>Size</key>
					<integer>51727</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page1</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
