/* www.multithemes.com */

/* @group General styles */

body {
	text-align: center;
	padding: 0px;
	font: 0.8em/1.2em helvetica, arial, sans-serif;
	margin: 0;
}

p {
}

b, strong {

}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
}

img {
	border-style: none;
}

.image-left {
	float: left;
	margin: 3px 3px 3px 0;
	padding: 3px 3px 3px 0;
}

.image-right {
	float: right;
	margin: 3px 0 3px 3px;
	padding: 3px 0 3px 3px;
}

/* www.multithemes.com */
	
/* @end */

/* @group layout */

#container_image {
}

#container {
	text-align: left;
	position: relative;
	top: 35px;
	padding: 0;
	margin: 0 auto 45px;
}

.clearer {
	clear: both;
}

#pageHeader {
	margin-bottom: 0;
	position: relative;
	background: inherit;
}

#pageHeader img {
	text-align: left;
	position: absolute;
	right: 15px;
	top: 17px;
	float: right;
}

#pageHeader h1 {
	font-weight: normal;
	font-size: 26px;
}

#pageHeader h2 {
	font-weight: normal;
	font-size: 16px;
}

#contentContainer {
	margin-right: 180px;
	margin-bottom: 0;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#contentContainer #content {
	padding: 10px;
}

#sidebarContainer {
	float: right;
	width: 180px;
	padding: 0;
	position: relative;
	margin: 16px 0 10px;
	font-size: 0.9em;
}

#sidebarContainer #sidebar {
	line-height: 1.6em;
	padding: 12px 9px 9px;
	position: relative;
	z-index: 1;
	text-align: center;
}

#sidebar h3 {
	font: 24px Times, Georgia, Courier, serif;
	font-weight: bold;
	padding: 0px;
	margin-bottom: 0px;
}

#sidebar p {
	font: 12px Times, Georgia, Courier, serif;
	padding-bottom: 15px;
	margin-top: 0;
}

#footer {
	text-align: center;
	height: 25px;
	margin: 0;
	padding: 0;
}

#footer p {
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
	
}

/* www.multithemes.com */
	
/* @end */

/* @group bread crumb */

#breadcrumbcontainer {
	text-indent: 1px;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

#breadcrumbcontainer ul {
	list-style: none;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
}

#breadcrumbcontainer a:hover {

}
	
/* @end */

/* @group toolbar */

/* toolbar */

#navcontainer {
	position: relative;
	top: 0;
	display: block;
	font-size: 12px;
	margin-right: 10px;
	margin-left: 10px;
	line-height: 1.8em;
}

#navcontainer #current {
	font-weight: bold;
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
	font-weight: bold;
}

/* 0 */

#navcontainer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#navcontainer li {
}

#navcontainer a {
	display: block;
	padding-left: 10px;
	height: 18px;
}

#navcontainer a:hover {
	background: fixed;
}

#navcontainer a:active {
}

/* 1 */

#navcontainer ul ul {
}

#navcontainer ul ul li {
}

#navcontainer ul ul a {
	padding: 0px 0px 0px 25px;
}

#navcontainer ul ul a:hover{
}

#navcontainer ul ul #current{
}

#navcontainer ul ul .currentAncestor {
	font-weight: bold;
}

/* 2 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul li { 
}

#navcontainer ul ul ul a{
	padding: 0px 0px 0px 35px;
}

#navcontainer ul ul ul a:hover{

}

/* 3 */

#navcontainer ul ul ul ul {
}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a{
	padding: 0px 0px 0px 45px;
}

#navcontainer ul ul ul ul a:hover{

}

/* 4 */

#navcontainer ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul a{
	padding: 0px 0px 0px 57px;
}

#navcontainer ul ul ul ul ul a:hover{

}

/* 5 */

#navcontainer ul ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul ul a{
	padding: 0px 0px 0px 70px;
}

#navcontainer ul ul ul ul ul ul a:hover{

}

/* www.multithemes.com */

/* @end */

/* @group global classes */

h5 {	
	padding-top: 0;
	margin-top: 0;
	line-height: 11px;
}

h4 {	
	padding-top: 0;
	margin-top: 0;
	line-height: 14px;
}

h3 {	
	padding-top: 0;
	margin-top: 0;
	line-height: 16px;
}

h2 {	
	padding-top: 0;
	margin-top: 0;
	line-height: 18px;
}

h1 {	
	padding-top: 0;
	margin-top: 0;
	line-height: 25px;
}

code {
	padding: 8px;
	margin-left: 14px;
	display: block;
	margin-right: 14px;
	font: 12px Courier, "Courier New", sans-serif;
	border-width: 1px;
	border-style: dotted;
}

blockquote, .standout {
	font-style: italic;
}

.imageStyle {
	border: 1px none;
}
#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
}

ul.square {
}

ul.circle {
}

ol.upper-roman {
}

ol.lower-alpha {
}

ol.upper-alpha {
}

ol.lower-roman {
}

ol.arabic-numbers {
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}

/* www.multithemes.com */
	
/* @end */

/* @group Blog Style */

.blog-entry-title {
	color: #202020;
	margin-bottom: 0 0 3px;
	font-size: 1.7em;
}

.blog-entry {
	margin-bottom: 20px;
}

.blog-entry-title a:link {
	text-decoration: none;
}

.blog-entry-date {
	margin-bottom: 10px;
	font-size: 1.1em;
	margin-top: 4px;
}

.blog-read-more {
	display: block;
	padding-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
}

.blog-entry-body {
}

.blog-entry-comments {
	padding-top: 5px;
	padding-bottom: 5px;
}

.blog-entry-category {
	font-size: 1em;
}

#blog-archives {
	margin-bottom: 10px;
	
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

.blog-archive-link-enabled {
	font-weight: bold;
}

.blog-archive-link-disabled {
}
#blog-categories {
	margin-bottom: 10px;
}

.blog-category-link-enabled {
	font-weight: bold;
}

.blog-category-link-disabled {
}
#blog-rss-feeds {
	margin-bottom: 10px;
}

.blog-rss-link {
}

.blog-comments-rss-link {
}

/* @group Archive - Page */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 10px;
}

.blog-archive-headings-wrapper {
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-month {
}

.blog-archive-link {
}

.blog-archive-link a:link, .blog-archive-link a:visited {
}
	
/* @end */

/* @group Tag - Cloud */
ul.blog-tag-cloud {
	margin: 0 0 10px;
	padding: 0;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.26em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.34em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.44em;
}

.blog-tag-size-15 {
	font-size: 1.51em;
}

.blog-tag-size-16 {	
	font-size: 1.56em;
}

.blog-tag-size-17 {	
	font-size: 1.61em;
}

.blog-tag-size-18 {	
	font-size: 1.66em;
}

.blog-tag-size-19 {
	font-size: 1.72em;
}

.blog-tag-size-20 {	
	font-size: 1.76em;
}

/* @end */

/* www.multithemes.com */

/* @end */

/* @group file sharing */

.filesharing-description {
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-top: 25px;
}

.filesharing-item {
	padding: 5px;
	margin-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

.filesharing-item-title a:link {
}

.filesharing-item-title a:hover {
}

.filesharing-item-title a:visited {

}

.filesharing-item-description {
}

/* www.multithemes.com */

/* @end */

/* @group photo album */

.album-title {
	font-size: 1.7em;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 25px;
	padding-bottom: 10px;
}

.album-description {
	margin-bottom: 62px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	height: 35px;
	display: block;
	font-size: 11px;
}

.thumbnail-frame img {
    border: none;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 1px;
}

.thumbnail-frame {
	position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame a {
}

.thumbnail-frame:hover {
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-right: 10px;
	margin-bottom: 45px;
	margin-left: 0;
}

.thumbnail-table {
	width: 50%;
}

/* @group single page */

.photo-background {
	text-align: center;
}

.photo-navigation {
	width: 190px;
	float: left;
	margin: 0;
	padding: 10px;
	
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	padding: 1px;
	position: absolute;
	left: 222px;
	top: 13px;
}

.photo-title {
	margin: 10px 0 20px;
	font-size: 2em;
	text-align: center;
}

.photo-caption {
	margin: 0;
}

/* www.multithemes.com */


/* @end */

/* @group EXIF data */
/* Data wrapper */
.exif-data {
	clear: left;
	margin: 0 0 0 10px;
	float: left;
	width: 190px;
	padding: 6px;
}

.exif-data p {
	text-align: left;
	font-size: 11px;
	line-height: 18px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

/* icon */

p.exif-focal-length {

}

/* icon */

p.exif-dimensions {
}

/* icon */

p.exif-pixel-y-dimension {

}

/* icon */

p.exif-pixel-x-dimension {
	
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

/* icon */

p.exif-shutter-speed {

}

/* icon */

p.exif-datetime-original {

}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

/* icon */

p.exif-exposure-time {

}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
	
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

/* icon */

p.exif-image-uniqueid {

}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

/* icon */

p.exif-aperture {

}

p.exif-sharpness {
}

p.exif-exposure-program {
	
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

/* icon */

p.exif-35mm-focal-length {

}

/* icon */

p.exif-datetime-digitized {

}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

/* icon */

p.exif-max-aperture {

}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
	
}

p.exif-focalplane-y-resolution {
}

/* icon */

p.exif-iso-rating {

}

/* icon */

p.exif-maker-note {

}

p.exif-digital-zoom-ratio {
}

/* icon */

p.exif-user-comment {

}
/* @end */

/* www.multithemes.com */
	
/* @end */

/* @group quicktime page */

.movie-description {
	margin-top: 25px;
}
	
/* @end */

/* @group quicktime album */

.movie-page-title {
	font-size: 1.6em;
	font-weight: bold;
	text-align: left;
	margin-bottom: 5px;
}

.movie-page-description {
	margin-bottom: 20px;
	text-align: left;
}

.movie-thumbnail-frame {
	display: inline;
	text-align: center;
	font-size: 0.9em;
	float: left;
	width: 131px;
	margin: 5px;
	padding: 4px;
}

.movie-thumbnail-caption {
	padding-top: 5px
}

/* @group single page */

.movie-background {
	margin: 20px 0 30px;
}

.movie-title {
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	margin-bottom: 20px;
}

.movie-frame {
	text-align: center;
}

	
/* @end */

/* www.multithemes.com */


/* @end */

/* @group contact form */
.message-text {
	margin-top: 25px;
} 

.required-text {
} 

.form-input-field {
} 

.form-input-button { 
}

/* www.multithemes.com */ 
/* @end */


